<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="./vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>
        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
    </coverage>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <!-- <server name="DB_CONNECTION" value="sqlite"/> -->
        <!-- <server name="DB_DATABASE" value=":memory:"/> -->
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
        <env name="TWITTER_BEARER_TOKEN" value="AAAAAAAAAAAAAAAAAAAAADoKJwEAAAAA%2FJDeg64mkoyv4IY80ea7P0He694%3DwAP5JOVS33Qjx2Syp5YiQYQiNuWSmfi54nhXXqxcUr8bilr83X"/>
        <env name="NEXMO_FROM" value="18582866515"/>
        <env name="NEXMO_API_KEY" value="4f73a3eb"/>
        <env name="NEXMO_API_SECRET" value="qtvW1Twx2SDFE8xo"/>

    </php>
</phpunit>
